@charset "UTF-8";

:root {
    --verde: #49a09d;
    --verde-escuro: #2f6866;
    --lilas: #5f2c82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    overflow: hidden;
    width: 250px;
    height: 515px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login div#imagem {
    display: block;
    background-image: url(../imagens/pattern.jpg);
    height: 200px;
    background-size: cover;
}

section#login div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

form div.area {
    background-color: var(--lilas);
    height: 40px;
    border: 2px solid var(--lilas);
    border-radius: 5px;
    margin: 5px 0;
}

form label {
    display: none;
}

div.area span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.area input {
    background-color: var(--verde);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    transform: translateY(-12.5px);
}

div.area input:focus-within {
    background-color: white;
}

div.area ::placeholder {
    color: hsla(0, 0%, 100%, 0.500);
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: var(--verde);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

form input[type=submit]:hover {
    background-color: var(--verde-escuro);
}

form a.botao {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: var(--verde-escuro);
    width: 100%;
    height: 35px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid var(--verde-escuro);
    border-radius: 5px;
}

form a.botao:hover {
    background-color: var(--verde-escuro);
    color: white;
}